{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#txtDesc',
    plugins: 'paste image link autolink lists table media',
    menubar: false,
    toolbar: [
      'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
    ],
  });
</script>
{{/section}}

<form method="POST" action="">
  <div class="card">
    <div class="card-header">
      <h4>WYSIWYG Editor</h4>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="txtDesc">Course Description</label>
        <textarea id="txtDesc" name="desc" autofocus cols="30" rows="20" class="form-control"></textarea>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-outline-success" type="submit">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </div>
</form>