{{#section 'css'}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">
{{/section}}

{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/locales/vi.min.js"></script>
<script>
  $('#fuMain').fileinput({
    language: 'vi',
    theme: 'fa',
    allowedFileExtensions: ['jpg', 'png', 'gif'],
    dropZoneEnabled: false,
  });
</script>
{{/section}}

<form method="POST" action="" enctype="multipart/form-data">
  <div class="card">
    <div class="card-header">
      <h4>New Course</h4>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="txtCourseName">Course</label>
        <input type="text" class="form-control" id="txtCourseName" name="CourseName" autofocus>
      </div>
      <div class="form-group">
        <input id="fuMain" name="fuMain" type="file" class="file" multiple>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-success" type="submit">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </div>
</form>