<div class="col-9">
	<form method="POST" action="">
		<div class="form-group">
			<label for="catName">Tên thể loại:</label>
			<input class="form-control w-50" type="text" id="catName" name="catName" autofocus>
		</div>

		<a href='/category' role="button" class=" btn btn-outline-warning" >Hủy bỏ</a>
		<button type="submit" class="btn btn-outline-primary ml-5">Xác nhận</button>
	</form>
</div>